<!DOCTYPE html>
<html>

<body>
    <form action="/email/resetWithMail" method="POST">
        <label for="fname">New Pass:</label><br>
        <input type="text" id="password" name="password"><br>
        <input type="text" id="EmpID" name="EmpID" value="<%=EmpID%>" hidden><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>